@font-face{
  font-family: 'FontSportivo';
  src: url(./fonts/Nosifer-Regular.ttf);
}

/* MY CSS STYLE  */

:root {
  --colore-primario: #393E46;
  --colore-secondario: #4ECCA3;
  --colore-terziario: #EEEEEE;
  --colore-testo: #4ECCA3;
  --colore-sfondo: #232931;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--colore-sfondo);
}

header{
  display: flex;
  align-items: center;
}

.drop-menu{
  color: var(--colore-testo);
  text-decoration: none;
  margin-left: 10px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1000px;
}

ul>li{
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  text-align: center;
  background-color: var(--colore-testo);
  opacity: 0;
  transform: translateX(-100%);
  animation: slideToLeft 0.5s ease forwards;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.rotate-menu-icon{
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

.rotate-menu-icon-normal{
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.entrata-menu{
  animation: slideFromLeft 0.5s ease forwards;
}

.rimuovi-menu{
  opacity: 1;
  transform: translateX(0);
  animation: slideToLeft 0.5s ease forwards;
}

li a{
  padding: 10px;
  display: block;
  text-decoration: none;
  color: var(--colore-sfondo);
  font-weight: bold;
  font-size: 15px;
}

li>a:hover{
  background-color: var(--colore-sfondo);
  color: var(--colore-testo);
  opacity: 0.2;
  animation: navbarHover 0.5s ease forwards;
}

.navbar-container{
  width: 10%;
  float: left;
}

.main-article{
  width: 90%;
  float: left;
}

#title-home{
  font-family: 'FontSportivo';
  font-size: 45px;
  color: var(--colore-testo);
  margin-left: 20px;
}

#menu{
  font-family: 'FontSportivo';
  font-size: 30px;
  color: var(--colore-testo);
  margin-left: 20px;
  transform: translateX(-150%);
}

.entrata-menu-title{
  animation: slideFromLeftTitleMenu 0.5s ease forwards;
}

.entrata-menu-wtitle{
  animation: slideFromLeftTitleWMenu 0.5s ease forwards;
}

.entrata-da-destra{
  opacity: 0;
  transform: translateX(-100%);
  animation: slideFromLeftTitle 1.25s ease forwards;
}

@keyframes slideFromLeft{
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeftTitle{
  to{
    opacity: 1;
    transform: translateX(-20%);
  }
}

@keyframes slideFromLeftTitleWMenu{
  from{
    opacity: 1;
    transform: translateX(-20%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideToLeftTitleWMenu{
  from{
    opacity: 1;
    transform: translateX(0);
  }
  to{
    opacity: 1;
    transform: translateX(-20%);
  }
}

@keyframes slideFromLeftTitle{
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideToLeft{
  to{
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes navbarHover {
  to{
    opacity: 1;
  }
}