@font-face{
  font-family: 'FontSportivo';
  src: url(./fonts/Nosifer-Regular.ttf);
}

/* MY CSS STYLE  */

:root {
  --colore-primario: #393E46;
  --colore-secondario: #4ECCA3;
  --colore-terziario: #EEEEEE;
  --colore-testo: #4ECCA3;
  --colore-sfondo: #232931;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--colore-sfondo);
  
}

body::after{
  content: "";
  clear: both;
  display: table;
}

header{
  display: flex;
  align-items: center;
}

.drop-menu{
  color: var(--colore-testo);
  text-decoration: none;
  margin-left: 10px;
}

.navbar-container{
  width: 100%;
}

ul{
  display: flex;
  height: 100%;
  align-items: center;
  background-color: var(--colore-primario);
  font-family:Arial, Helvetica, sans-serif;
}

ul>li{
  display: inline-block;
  padding: 3px 25px;
  text-align: center;
  line-height: 50px;
}


li a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: var(--colore-testo);
}

li:hover{
  animation: liHover 0.5s ease forwards;
}

#title-home{
  font-family: 'FontSportivo';
  font-size: 45px;
  color: var(--colore-testo);
  margin-left: 20px;
  float: right;
}

.slideImage{
  height: 500px;
  width: 50px;
  background-color: white;
  opacity: 0.1;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 20px;
  border-radius: 30px;
  float: left;
}

.slideImage:hover{
  animation: sliderBtnHover 0.5s ease forwards;
}

.imgSlider{
  float: left;
  margin-top: 20px;
  border-radius: 5px;
}

@keyframes liHover {
  to{
    background-color: var(--colore-sfondo);
  }
}

@keyframes sliderBtnHover {
  to{
    opacity: 0.25;
  }
}
